{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Вход в систему</h1>
        <form method="post" class="vstack gap-3">
          <div>
            <label class="form-label">Логин</label>
            <input class="form-control" name="username" value="" required>
          </div>
          <div>
            <label class="form-label">Пароль</label>
            <input class="form-control" name="password" type="password" value="" required>
          </div>
          <button class="btn btn-primary" type="submit">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
